@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jumbotron {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    border-radius: 0;
    background-color: blue; /* Imposta il colore di sfondo su blu */
    }


    .jumbotron h1 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .jumbotron p {
        font-size: 20px;
    }

    .jumbotron a.btn {
        margin-top: 20px;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="jumbotron">
    <h1><b>Benvenuti</b></h1>
    <p>Questa pagina è stata creata da Francesco Corbelli e Davide Lazzerini.</p>
</div>
