@model Prenotazione;
@{
    ViewData["Titla"] = "Prenota";
}

<div class="text-center">
    <h1 class="display-4">Prenota</h1>

    <form class="m-2" method="post" asp-action="conferma">
        <div class="form-group">
            <label asp-for="Nome">Il tuo nome:</label>
            <input asp-for="Nome" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Email">La tua email:</label>
            <input asp-for="Email" class="form-control">
        </div>

        <button type="submit" id="bottonePrenotazione" class="btn btn-primary">Prenota</button>
    </form>
</div>
