@model SignUp;
@{
    ViewData["Titla"] = "Registra";
}

<h2>Username</h2>
<div>
<label for="Nome Utente">@Model.Username</label>
</div>

<h2>PW</h2>
<div>
<label for="PW">@Model.PW</label>
</div>
