@model SignUp;
@{
    ViewData["Titla"] = "Registra";
}

<h2>Nome_Utente</h2>
<div>
<label for="Nome Utente">@Model.Nome_Utente</label>
</div>

<h2>Password</h2>
<div>
<label for="Password">@Model.Password</label>
</div>
